$content_width: 1140px;
/*обнуление стандартных стилей*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*задание шрифта*/
body {
  font-family: "Lato", sans-serif;
  // background: #E5E5E5;
}
.border{
  border: 1px solid #000;
}
/*центровщик*/
.wrapper {
  max-width: $content_width;
  margin: 0 auto;
  // outline: 1px solid rgb(243, 11, 11);
}
/*сияние кнопки при наведении*/
.shine:hover {
  box-shadow: 0 0 15px #ff6a6a;
  border: 1px solid #ff6a6a;
}
/*поведении кнопки при нажатии*/
.push_but:active {
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset,
    0 -1px 0 rgba(255, 255, 255, 0.1);
}
/*главная страница первый блок */
.header {
  background: #222222;
  height: 75px;
  padding-top: 18px;
  padding-bottom: 20px;
  &_content {
    display: flex;
    // outline: 1px solid rgb(243, 11, 11);
    justify-content: space-between;
    align-items: center;
  }
  &_col_1 {
    display: flex;
    align-items: center;
  }
  &-link {
    text-decoration: none;
    color: transparent;
    margin-right: 41px;
  }
  &_search-button {
    background-color: transparent;
    border: none;
  }
  &_col_2 {
    display: flex;
    align-items: center;
  }
  &_main-menu-button {
    background-color: transparent;
    border: none;
  }
  &_registry-link {
    text-decoration: none;
    color: transparent;
    margin: 0 33px;
  }
  &_cart-link {
    text-decoration: none;
    color: transparent;
  }
}
/*банер главной странице*/
.offer {
  background-color: #f1e4e6;
  &-wrap {
    height: 765px;
    background-image: url(../img/man_tatle.svg);
    background-repeat: no-repeat;
    background-position-x: -226px;
    background-position-y: +34px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  &-title {
    font-weight: 900;
    font-size: 48px;
    line-height: 40px;
    color: #222222;
    border-left: 12px solid #f16d7f;
    padding-left: 16px;
    margin-right: 90px;
  }
  &-title--small {
    font-size: 32px;
    font-weight: bold;
    line-height: 38px;
  }
  &-title--pink {
    color: #f16d7f;
  }
}
/*заголовок страница каталога*/
.arrivals{
  background-color: #F8F3F4;
  &_wrap{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &_title{
    font-size: 24px;
    color: #F16D7F;
    line-height: 29px;
    padding: 60px 0;
  }
  &_breadcrump{
      padding-right:5px;
      font-size: 14px;
      line-height: 17px;
      font-weight: 300;
      list-style: none;
  } 
  &_breadcrump li{
    display: inline;
    
  }
  &_breadcrump li+li::before{
    content: "/\00a0";
  }
  &_link{
    text-decoration: none;
    color: #636363;
    padding-right:5px;
  }
  &_link_3{
    font-weight: bold;
    color: #F16D7F;
  }
  
}
/*слайдер в продуктах*/
.slidfer{
  background-color: #F7F7F7;
  width: 100%;
  border: 1px solid #000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #000;
  &_btn{
    padding: 13px 17px;
    background-color: rgba(42, 42, 42, 0.15);
    border: none;
  }
  &_btn svg{
    fill: black;
  }
  &_btn:hover svg {
    fill: #F16D7F;
  }

}
/*страница каталога с карточками*/
.colection{
  &-wrap{
    position: relative;
    top:-40px;
    z-index: 10;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 70px;
    margin-bottom:119px ;
    border: 1px solid #EAEAEA;
    
  }
  &_column{
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }
  &_title{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    padding-top: 59px;
    color: #F16D7F;
    border-bottom:3px solid #EF5B70;
    padding-bottom: 12px;
  }
  &_p_1{
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    color: #4D4D4D;
    padding-top: 12px;
  }
  &_p{
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    color: #5E5E5E;
    padding-top: 49px;
  }
  &_p_3{
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    color: #EF5B70;
    padding-top: 32px;
    padding-bottom: 65px;
  }
  &_forborder{
    border-top:3px solid #EAEAEA ;
    padding: 64px 141px 0 141px ;
  }
  &_drop{
    display: flex;
    padding-bottom: 48px;
  }
  &_dropbtn{
    display: flex;
  
    background-color:#FFFFFF;
    border: none;
    color:#6F6E6E;
    padding-right: 23px;
    // border: 1px solid #FF6A6A;
  }
  &_button_arrow{
    padding-left: 9px;
  }
  &_button{
    margin: 0 auto;
    padding: 15px 57px 14px 22px;
    // padding-right: 57px;
    justify-content: center;
    display: flex;
    background-color:#FFFFFF;
    border: 1px solid #FF6A6A;
    color: #F26376;
    font-size: 16px;
    line-height: 19px;
  }
  &_button_redkorz{
    padding-right: 22px;
    padding-left: 24px;
  }
}
/*фильры страницы каталога*/

.filters{
  &_wrap{/*блок обьединяет два фильтра*/
    display: flex;
    align-items: center; 
    padding-top: 50px;
    padding-bottom: 60px;
    // outline: 1px solid ;
  }
  &_one{ /*первый выпадающий фильтр*/
    width: 360px;
    background-color: #FFFFFF;
    position: relative;
    z-index: 2;/*for main see*/
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    margin-right: 30px;
    // outline: 1px solid red;
  }
  &_index_menu{
    // position: relative;
  }
  &_index_summ_titlecat{
    display:block;
    color: #F16D7F;
    padding-top:24px; 
    padding-left: 34px;
  }
  &_index_summ{
    display:block;
    
  }
  summary {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    
  }
  &_index_menu_title{
    display: flex;
    padding-top:37px;
    padding-left:34px;
    position: relative;
    
  }
  &_index_menu_title svg{
    position: absolute;
    top: 16px;
    right: 16px;
    fill:#6F6E6E;
  }
  &_index_menu_title svg:hover{
    fill:#EF5B70;
  }
  &_title{
    border-left: 5px solid #EF5B70;
    padding: 11px;
    border-bottom:1px solid #EBEBEB;
    margin-bottom: 18px;

  }
  li{
    list-style-type: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding: 11px;
  }
  li:hover{
    font-size: 16px;
    color: #4d4b4b;
  }
  li:active{
    font-size: 12px;
  }
  &_index_li{
    list-style-type: none;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
    padding-top: 11px;
    padding-left: 54px;
  }
  &_index_li:hover{
    font-size: 16px;
    color: #4d4b4b;
  }
  &_index_li:active{
    font-size: 12px;
  }
  &_one[open]{
    box-shadow: 6px 4px 35px black; 
    top:-25px;
  }
  &_one[open] .filters_one_text{
    color:#EF5B70;
    z-index: 2;/*for main see*/
    position: absolute;
    padding:16px 15px 16px 17px;
  }
  &_one[open] svg{
    fill:#EF5B70;
    transform: rotate(180deg);
  }
  &_box{
    position: absolute;
  }
  
  &_one[open]  &_box{
    background-color: #FFFFFF;;
    width: 100%;
    box-shadow: 6px 4px 35px black;
    padding:46px 15px 16px 17px;
    left:0;
    top:0;
  }
  &_index_menu[open] &_box{
    background-color: #FFFFFF;
    width: 232px;
    padding-bottom: 134px;
    position: absolute;
    right:0;
    top:77px;
    
  }

/* второй блок фильтров размеры*/
  &_two{
    // outline: 1px solid red;
    display: flex;
    justify-content: space-between;
    width: 360px;
    // position: relative;
  }
  &_try_anotherdiv{
    // position: relative;
    // background-color: green;
    width: 100%;
    display: inline-block;
   
    
  }
  &_two_summ{
    color: #6F6E6E;
    font-size: 14px;
    line-height: 17px;
    padding-right: 27px;
    
  }
  &_two_ditails_divs{
    // width:100%;
    // display: flex
    box-sizing: border-box;
    outline: 1px solid green;
  }
  &_two_ditails[open]{
    box-sizing: border-box;
    display: flex;
    // outline: 1px solid yellow;
    position: absolute;
    z-index: 2;
    background-color: white;
  }
  &_two_ditails[open] svg{
    transform: rotate(180deg);
  }
  &_input_text{
    font-size: 14px;
    line-height: 16px;
    color: #6F6E6E;
    padding:7px 30px;
  }
  

  // .filter_two_links{
  //   text-decoration: none;
  //   padding-right: 28px;
  //   font-size: 14px;
  //   line-height: 17px;
  //   color: #6F6E6E;
  // }
  // .filter_two_links_image{
  //   padding-left:11px ;
// }

 svg{
  fill:black;
  margin-left: 11px;
} 
}


/*категории первой страницы*/
.categories {
  padding: 65px 0 96px;
  
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  &-item {
    background-color: #C4C4C4;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
  }
  .categories-item--women {
    background-image: url(../img/baba.jpg);
    height: 260px;
    width: 360px;
    background-size: cover;

  }
  .categories-item--men {
    height: 260px;
    width: 360px;
    background-image: url(../img/muz.jpg);
    background-size: cover;
  }
  .categories-item--kids {
    background-image: url(../img/pizduk.jpg);
    height: 260px;
    width: 360px;
    background-size: cover;
    
  }
  .categories-item--assesories {
    background-image: url(../img/assss.jpg);
    height: 180px;
    width: 100%;
    margin-top: 30px;
    background-size: cover;
  }
  
  &-sale {
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    
    
  }
  &-name {
    font-size: 24px;
    line-height: 29px;
    color: #F16D7F;
  }
}
/*каталог страницы каталога*/
.feature-products {
  
  &_name {
    text-align: center;
    
  }
  &_title {
    font-size: 30px;
    line-height: 36px;
    color: #222222;
  }
  &_text {
    font-size: 14px;
    line-height: 17px;
    color: #9f9f9f;
    padding: 6px 0 47px;
  }
  &-wrap {
    display: flex;
    flex-wrap: wrap;
    // border: 1px solid #000;
    justify-content: space-between;
  }
  &-kart {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 360px;
    height: 582px;
    background: #f8f8f8;
    margin-bottom: 30px;
    position: relative;
  }
  &_kart-tatle {
    font-size: 13px;
    line-height: 16px;
    color: #000000;
    padding: 25px 0 12px 11px;
  }
  &_kart-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #5d5d5d;
    padding-left: 11px;
  }
  &_kart-link {
    text-decoration: none;
    padding-left: 11px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 19px;
    color: #f16d7f;
    position: absolute;
    bottom:0px;
    
    
  }
  &-button {
    background-color: transparent;
    border: 1px solid #ff6a6a;
    font-size: 16px;
    line-height: 19px;
    color: #f26376;
    padding: 15px 39px;
    margin: 0 auto;
    text-decoration: none;
  }
}
/*кнопка страницы каталога*/
.forbuton{
  padding-bottom: 128px;
}
/*пагинатор станицы каталога*/
.paginator-wrap{
  display: flex;
  justify-content: center;
  align-items: center;
  &_pagination{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
    text-decoration: none;
    list-style-type: none;
    color: #C4C4C4;
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid #EBEBEB;
    border-radius: 5px;
    padding: 8px 16px;
  }
  &_pagination a {
    font-weight: 300;
    color: #C4C4C4;
    font-size: 16px;
    line-height: 19px;
    float: left;
    padding-right: 23px;
    text-decoration: none;
   
  }
  &_page-link:hover{
    color: #EF5B70;
   
  }
}
/*ярлычки первой страницы*/
.advantages {
  background: #222224;
  &-wrap {
    display: flex;
    justify-content: space-between;
    padding-top: 103px;
    padding-bottom: 103px;
    margin-top: 112px;
  
    &-icons {
      width: 360px;
      height: 134px;
      display: flex;
      align-items: center;
      flex-direction: column;
      color: #fbfbfb;
    }
    &-title {
      margin: 28px 0 16px;
      font-size: 19.96px;
      line-height: 24px;
      color: #fbfbfb;
    }
    &-text {
      font-weight: 300;
      font-size: 13.972px;
      line-height: 17px;
      text-align: center;
    }
  }
}
/*карточки товаров корзины*/
.cart{
    &-section{
    display: flex;
    justify-content: space-between;
      }

    &_pooceed{
      background-color: #F5F3F3;
      padding: 44px;
      margin-top:57px ;
    }
    &-wrap-product{
      
      margin-top: 72px;
      width: 652px;
      padding-bottom: 128px;
    }
    &-behind{
      position: relative;
      display: flex;
      flex-direction: column;
      padding-left: 31px;
      width: 100%;
      
    }
    &_title{
      padding: 23px 97px 42px 0 ;
    }
    &_close{
      position: absolute;
      top: 28px;
      right: 22px;
    }
    &_text{
      font-size: 22px;
      line-height: 26px;
      color: #575757;
    }
    &_text-1{
      color:#EF5B70;
    }
    &_text-4_two{
      margin-left: 24px;
      border: 1px solid #EAEAEA;
      padding:1px 17px;
    }
    &-wrap{
      padding-top: 113px;
    }
    &-adress_in{
      margin-top: 20px;
      width: 100%;
      padding: 13px 0 16px 17px;
      font-weight: 300;
      font-size: 13px;
      line-height: 16px;
      color: #222222;
    }
    &-adress_in:hover{
      background-color:#E9E9E9 ;
    }
    &-adress_sub{
      
      margin-top: 20px;
      padding: 10px 14px 12px 15px;
      font-weight: 300;
      font-size: 11px;
      line-height: 13px;
      color: #4A4A4A;
      border: 1px solid #A4A4A4;
      background-color: #FFFFFF;
    }
    &-adress_sub:hover{
      background-color: #f8f5f57a;
    }
    &-field-wrap{
      width: 360px;
      height: 272px;
      border:0 none;
    }
    
    &-field_leg{
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #222222;
      border: none;
    }
    &-product_cart{
      display: flex;
      width: 652px;
      height: 306px;
      margin-bottom: 40px;
      box-shadow: 0 14px 28px rgba(0,0,0,0.25) ;
    }
    
  }
  /*карточка доставки*/
  .pooceed{
    &_text{
    text-align: end;
    border-bottom: 1px solid #E2E2E2;
    padding-bottom: 21px;
    }
    &_p_1{
      font-size: 11px;
      line-height: 13px;
      padding-bottom: 13px;
      color: #4A4A4A;
    }
    &_d_p_1_gr{
      padding-left: 24px;
    }
    &_p_2{
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      color: #222222;
    }
    &_p_2_red{
      color: #F16D7F;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      padding-left: 24px;
    }
    &_button{
      background-color: #F16D7F;
      font-weight: 300;
      font-size: 16px;
      line-height: 19px;
      border: none;
      padding: 15px 43px 16px 41px;
      margin-top: 17px;
      color: #FFFFFF;
    }
    &_button:hover{
     background-color: #f54c62;
    }
  
}
/*кнопки под корзиной*/
.sub_cart{
  display: flex;
  justify-content: space-between;
  
  &_sub{
    padding: 17px 40px;
    border: 1px solid #A4A4A4;
    background-color: #FFFFFF;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    
  }
  &_sub:hover{
    background-color: #f8f5f57a;
  }
   
}
/* registration*/
.registration{
  padding-top: 64px;
  padding-bottom: 76px;
  &_input{
    border: 0 none;
    width: 360px;
    
  }
  &_legend{
    font-weight: 300;
    font-size: 16px;
    line-height: 19px;
    color: #222222;
  }
  &_input_all{
    width: 100%;
    margin-top: 20px;
    padding: 13px 0 16px 17px;
  }
  &_radio{
    padding: 31px 0 31px 0;
    font-weight: 300;
    font-size: 11px;
    line-height: 13px;
    color: #000000;
    
    &_label{
      padding: 0 20px 0 10px;
    }
  }
  &_text{
    font-weight: 300;
    font-size: 13px;
    line-height: 16px;
    color: #B1B1B1;
    padding-top: 15px;
  }
  &_button{
    padding: 16px 0 17px 29px ;
    background-color: #F16D7F;
    border: none;
    color:#FFFFFF;
    margin-top: 75px;
    position: relative;
    left: -25px;
  }
  &_button:hover{
    background-color: #f05065;
  }
  &_button_arrow{
    padding-right: 29px;
  }
  &_reg_join{
    padding-right: 20px;
  }
  &_reklam_block{
 
    padding: 64px 0 0 128px;
    color:#000000;
    font-weight: 300;
    font-size: 24px;
    line-height: 29px;
    
  }
  &_title{
    padding-bottom: 22px;
  }
  &_right_text{
    padding-bottom: 21px;
  }
  &_ol{
    
    list-style: none;
  }
  &_ol > li{
    padding-bottom: 21px;
  }
  &_image{
  
    margin-right: 26px;
  }
}
/*отзывы первая страница*/
.feedback {
  background-image: url(../img/subscribe.jpg);
  background-size: cover;
  // display: flex;
  // align-items: center;
  // justify-content: space-between;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position:left bottom ;
  &-wrap {
    display: flex;
    justify-content: space-between;
    align-content: center;
    
   
  }
  
  &-wrap-kart {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 360px;
    padding-top: 97px;
    padding-bottom: 126px;
    text-align: center;
    justify-content: center;
  }
  &-wrap-kart-sub{
    margin-right: 94px;
  }
  &-wrap-text {
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    color: #222224;
    padding-top: 30px;
  }
  &-wrap-title {
    font-size: 24px;
    line-height: 167.2%;
    text-align: center;
    color: #222224;
  }
  &-wrap-title-small {
    font-size: 18px;
    line-height: 167.2%;
  }
  &-subscripe{
    width: 356px;
    display: flex;
  }
  &-subscripe-field{
    padding: 20px;
    width: 255px;
    border-radius: 26px 0 0 26px;
    border: none;
    background-color: #E1E1E1;
    color: #222224;
    font-size: 14px;
    line-height: 17px;
    
  }
  &-subscripe-field::placeholder{
    font-size: 14px;
    line-height: 17px;
    color: #222224;
    opacity: 0.67;
  }
  &-subscripe-field:hover{
    background-color:#E9E9E9 ;
  }

  &-subscripe-button{
    padding: 20px;
    border-radius: 0 26px 26px 0;
    background-color:#F16D7F;
    border: none;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 17px;
  }
  &-subscripe-button:hover{
    background-color: #c34455;
  }
}
/*подвал*/
.footer {
  background-color: #222224;
  &-wrap {
    display: flex;
    justify-content: space-between;
    padding: 24px 0;
  }
  &-wrap-text {
    font-size: 16px;
    line-height: 19px;
    color: #fbfbfb;
    align-self: center;
  }
  &-wrap-social{
    display: flex;
  }
  &_icons{
    border: none;
    width: 31px;
    height: 32px;
    margin-left: 7px;
  }
  &_icons:hover{
    background-color:#F16D7F;
  }
  &_icons svg{
    fill:black;
  }
  &_icons:hover svg{
    fill:white;
  }

}
/*ярлыки хз*/
.form-label{
  display: block;
}
/*адаптив*/
@media (max-width: 768px) {
  .offer {
    
    &-wrap {
      height: 367px;
      background-position-x: -40px;
      background-position-y: +20px;
      background-size:contain;
      
    }}
  .categories {
    padding:20px 19px 154px;
  
  &-item {
    width: 232px;
    height: 167px;
      }
  &-item--assesories{
    height: 116px;
    width: 100%;
    margin-top: 19px;
  }  
 }
}
