@charset "UTF-8";
/*обнуление стандартных стилей*/
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*задание шрифта*/
body {
  font-family: "Lato", sans-serif;
}

.border {
  border: 1px solid #000;
}

/*центровщик*/
.wrapper {
  max-width: 1140px;
  margin: 0 auto;
}

/*сияние кнопки при наведении*/
.shine:hover {
  background-color: #ff6a6a;
  color: #FFFFFF;
}

.shine:hover svg {
  fill: #FFFFFF;
}

/*поведении кнопки при нажатии*/
.push_but:active {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1);
          box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset, 0 -1px 0 rgba(255, 255, 255, 0.1);
}

/*главная страница первый блок */
.header {
  background: #222222;
  height: 75px;
  padding-top: 18px;
  padding-bottom: 20px;
}

.header_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_col_1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header-link {
  text-decoration: none;
  color: transparent;
  margin-right: 41px;
}

.header_search-button {
  background-color: transparent;
  border: none;
}

.header_col_2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_main-menu-button {
  background-color: transparent;
  border: none;
}

.header_registry-link {
  text-decoration: none;
  color: transparent;
  margin: 0 33px;
}

.header_cart-link {
  text-decoration: none;
  color: transparent;
}

/*банер главной странице*/
.offer {
  background-color: #f1e4e6;
}

.offer-wrap {
  height: 765px;
  background-image: url(../img/man_tatle.svg);
  background-repeat: no-repeat;
  background-position-x: -226px;
  background-position-y: +34px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.offer-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 40px;
  color: #222222;
  border-left: 12px solid #ff6a6a;
  padding-left: 16px;
  margin-right: 90px;
}

.offer-title--small {
  font-size: 32px;
  font-weight: bold;
  line-height: 38px;
}

.offer-title--pink {
  color: #ff6a6a;
}

/*заголовок страница каталога*/
.arrivals {
  background-color: #F8F3F4;
}

.arrivals_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.arrivals_title {
  font-size: 24px;
  color: #ff6a6a;
  line-height: 29px;
  padding: 60px 0;
}

.arrivals_breadcrump {
  padding-right: 5px;
  font-size: 14px;
  line-height: 17px;
  font-weight: 300;
  list-style: none;
}

.arrivals_breadcrump li {
  display: inline;
}

.arrivals_breadcrump li + li::before {
  content: "/\00a0";
}

.arrivals_link {
  text-decoration: none;
  color: #636363;
  padding-right: 5px;
}

.arrivals_link_3 {
  font-weight: bold;
  color: #ff6a6a;
}

/*слайдер в продуктах*/
.slidfer {
  background-color: #F7F7F7;
  width: 100%;
  border: 1px solid #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #000;
}

.slidfer_btn {
  padding: 13px 17px;
  background-color: rgba(42, 42, 42, 0.15);
  border: none;
}

.slidfer_btn svg {
  fill: black;
}

.slidfer_btn:hover svg {
  fill: #F16D7F;
}

/*страница каталога с карточками*/
.colection-wrap {
  position: relative;
  top: -40px;
  z-index: 10;
  background-color: #FFFFFF;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-bottom: 70px;
  margin-bottom: 119px;
  border: 1px solid #EAEAEA;
}

.colection_column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.colection_title {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  padding-top: 59px;
  color: #ff6a6a;
  border-bottom: 3px solid #ff6a6a;
  padding-bottom: 12px;
}

.colection_p_1 {
  font-weight: 300;
  font-size: 18px;
  line-height: 22px;
  color: #4D4D4D;
  padding-top: 12px;
}

.colection_p {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #5E5E5E;
  padding-top: 49px;
}

.colection_p_3 {
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #ff6a6a;
  padding-top: 32px;
  padding-bottom: 65px;
}

.colection_forborder {
  border-top: 3px solid #EAEAEA;
  padding: 64px 141px 0 141px;
}

.colection_drop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 48px;
}

.colection_dropbtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFFFFF;
  border: none;
  color: #6F6E6E;
  padding-right: 23px;
}

.colection_button_arrow {
  padding-left: 9px;
}

.colection_button {
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 12px 57px 12px 23px;
  background-color: #FFFFFF;
  border: 1px solid #ff6a6a;
  color: #ff6a6a;
  font-size: 16px;
  line-height: 19px;
  -webkit-transition: 0,3s;
  transition: 0,3s;
}

.colection_button svg {
  fill: #ff6a6a;
  margin-right: 22px;
  -webkit-transition: 0,3s;
  transition: 0,3s;
}

/*фильры страницы каталога*/
.filters {
  /* второй блок фильтров размеры*/
}

.filters_wrap {
  /*блок обьединяет два фильтра*/
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 50px;
  padding-bottom: 60px;
}

.filters_one {
  /*первый выпадающий фильтр*/
  width: 360px;
  background-color: #FFFFFF;
  position: relative;
  z-index: 2;
  /*for main see*/
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
  margin-right: 30px;
}

.filters_index_summ_titlecat {
  display: block;
  color: #ff6a6a;
  padding-top: 24px;
  padding-left: 34px;
}

.filters_index_summ {
  display: block;
}

.filters summary {
  display: block;
  font-weight: 600;
  font-size: 14px;
  line-height: 17px;
}

.filters_index_menu_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 37px;
  padding-left: 34px;
  position: relative;
}

.filters_index_menu_title svg {
  position: absolute;
  top: 16px;
  right: 16px;
  fill: #6F6E6E;
}

.filters_index_menu_title svg:hover {
  fill: #ff6a6a;
}

.filters_title {
  border-left: 5px solid #ff6a6a;
  padding: 11px;
  border-bottom: 1px solid #EBEBEB;
  margin-bottom: 18px;
}

.filters li {
  list-style-type: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding: 11px;
}

.filters li:hover {
  font-size: 16px;
  color: #4d4b4b;
}

.filters li:active {
  font-size: 12px;
}

.filters_index_li {
  list-style-type: none;
  font-size: 14px;
  line-height: 17px;
  color: #6F6E6E;
  padding-top: 11px;
  padding-left: 54px;
}

.filters_index_li:hover {
  font-size: 16px;
  color: #4d4b4b;
}

.filters_index_li:active {
  font-size: 12px;
}

.filters_one[open] {
  -webkit-box-shadow: 6px 4px 35px black;
          box-shadow: 6px 4px 35px black;
  top: -25px;
}

.filters_one[open] .filters_one_text {
  color: #ff6a6a;
  z-index: 2;
  /*for main see*/
  position: absolute;
  padding: 16px 15px 16px 17px;
}

.filters_one[open] svg {
  fill: #ff6a6a;
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filters_box {
  position: absolute;
}

.filters_one[open] .filters_box {
  background-color: #FFFFFF;
  width: 100%;
  -webkit-box-shadow: 6px 4px 35px black;
          box-shadow: 6px 4px 35px black;
  padding: 46px 15px 16px 17px;
  left: 0;
  top: 0;
}

.filters_index_menu[open] .filters_box {
  background-color: #FFFFFF;
  width: 232px;
  padding-bottom: 134px;
  position: absolute;
  right: 0;
  top: 77px;
}

.filters_two {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 360px;
}

.filters_try_anotherdiv {
  display: inline-block;
}

.filters_two_summ {
  color: #6F6E6E;
  font-size: 14px;
  line-height: 17px;
  padding-right: 27px;
}

.filters_two_form {
  margin-top: 10px;
  padding: 10px 0 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-shadow: 6px 4px 35px black;
          box-shadow: 6px 4px 35px black;
  min-width: 79px;
  position: absolute;
  z-index: 2;
  background-color: #FFFFFF;
}

.filters_two_ditails_divs {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.filters_two_ditails[open] svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

.filters_input_text {
  display: block;
  margin-left: 20px;
}

.filters svg {
  fill: black;
  margin-left: 11px;
}

/*категории первой страницы*/
.categories {
  padding: 65px 0 96px;
}

.categories-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.categories-item {
  background-color: #C4C4C4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.categories .categories-item--women {
  background-image: url(../img/baba.jpg);
  height: 260px;
  width: 360px;
  background-size: cover;
}

.categories .categories-item--men {
  height: 260px;
  width: 360px;
  background-image: url(../img/muz.jpg);
  background-size: cover;
}

.categories .categories-item--kids {
  background-image: url(../img/pizduk.jpg);
  height: 260px;
  width: 360px;
  background-size: cover;
}

.categories .categories-item--assesories {
  background-image: url(../img/assss.jpg);
  height: 180px;
  width: 100%;
  margin-top: 30px;
  background-size: cover;
}

.categories-sale {
  font-size: 16px;
  line-height: 19px;
  color: #FFFFFF;
}

.categories-name {
  font-size: 24px;
  line-height: 29px;
  color: #ff6a6a;
}

/*каталог страницы каталога*/
/*анимация на карточке товара*/
.card-overlay {
  background-color: rgba(58, 56, 56, 0.86);
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 420px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  opacity: 0;
}

.card-overlay:hover {
  opacity: 1;
}

.card-btn {
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  padding: 12px;
  background-color: transparent;
  border: 1px solid #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-btn svg {
  fill: #FFFFFF;
  padding-right: 12px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

.card-btn:hover {
  color: #ff6a6a;
  border: 1px solid #ff6a6a;
}

.card-btn:hover svg {
  fill: #ff6a6a;
}

.feature-products_name {
  text-align: center;
}

.feature-products_title {
  font-size: 30px;
  line-height: 36px;
  color: #222222;
}

.feature-products_text {
  font-size: 14px;
  line-height: 17px;
  color: #9f9f9f;
  padding: 6px 0 47px;
}

.feature-products-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.feature-products-kart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  height: 582px;
  background: #f8f8f8;
  margin-bottom: 30px;
  position: relative;
}

.feature-products_kart-tatle {
  font-size: 13px;
  line-height: 16px;
  color: #000000;
  padding: 25px 0 12px 11px;
}

.feature-products_kart-text {
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #5d5d5d;
  padding-left: 11px;
}

.feature-products_kart-link {
  text-decoration: none;
  padding-left: 11px;
  padding-bottom: 30px;
  font-size: 16px;
  line-height: 19px;
  color: #ff6a6a;
  position: absolute;
  bottom: 0px;
}

.feature-products-button {
  background-color: transparent;
  border: 1px solid #ff6a6a;
  font-size: 16px;
  line-height: 19px;
  color: #ff6a6a;
  padding: 15px 39px;
  margin: 0 auto;
  text-decoration: none;
  -webkit-transition: 0,3s;
  transition: 0,3s;
}

/*кнопка страницы каталога*/
.forbuton {
  padding-bottom: 128px;
}

/*пагинатор станицы каталога*/
.paginator-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.paginator-wrap_pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px;
  text-decoration: none;
  list-style-type: none;
  color: #C4C4C4;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  padding: 8px 16px;
}

.paginator-wrap_pagination a {
  font-weight: 300;
  color: #C4C4C4;
  font-size: 16px;
  line-height: 19px;
  float: left;
  padding-right: 23px;
  text-decoration: none;
}

.paginator-wrap_page-link:hover {
  color: #ff6a6a;
}

/*ярлычки первой страницы*/
.advantages {
  background: #222224;
}

.advantages-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 103px;
  padding-bottom: 103px;
  margin-top: 112px;
}

.advantages-wrap-icons {
  width: 360px;
  height: 134px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #fbfbfb;
}

.advantages-wrap-title {
  margin: 28px 0 16px;
  font-size: 19.96px;
  line-height: 24px;
  color: #fbfbfb;
}

.advantages-wrap-text {
  font-weight: 300;
  font-size: 13.972px;
  line-height: 17px;
  text-align: center;
}

/*карточки товаров корзины*/
.cart-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.cart_pooceed {
  background-color: #F5F3F3;
  padding: 44px;
  margin-top: 57px;
}

.cart-wrap-product {
  margin-top: 72px;
  width: 652px;
  padding-bottom: 128px;
}

.cart-behind {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-left: 31px;
  width: 100%;
}

.cart_title {
  padding: 23px 97px 42px 0;
}

.cart_close {
  position: absolute;
  top: 28px;
  right: 22px;
}

.cart_text {
  font-size: 22px;
  line-height: 26px;
  color: #575757;
}

.cart_text-1 {
  color: #ff6a6a;
}

.cart_text-4_two {
  margin-left: 24px;
  border: 1px solid #EAEAEA;
  padding: 1px 17px;
}

.cart-wrap {
  padding-top: 113px;
}

.cart-adress_in {
  margin-top: 20px;
  width: 100%;
  padding: 13px 0 16px 17px;
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #222222;
}

.cart-adress_in:hover {
  background-color: #E9E9E9;
}

.cart-adress_sub {
  margin-top: 20px;
  padding: 10px 14px 12px 15px;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #4A4A4A;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
}

.cart-adress_sub:hover {
  background-color: #f8f5f57a;
}

.cart-field-wrap {
  width: 360px;
  height: 272px;
  border: 0 none;
}

.cart-field_leg {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
  border: none;
}

.cart-product_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 652px;
  height: 306px;
  margin-bottom: 40px;
  -webkit-box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
          box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25);
}

/*карточка доставки*/
.pooceed_text {
  text-align: end;
  border-bottom: 1px solid #E2E2E2;
  padding-bottom: 21px;
}

.pooceed_p_1 {
  font-size: 11px;
  line-height: 13px;
  padding-bottom: 13px;
  color: #4A4A4A;
}

.pooceed_d_p_1_gr {
  padding-left: 24px;
}

.pooceed_p_2 {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.pooceed_p_2_red {
  color: #ff6a6a;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  padding-left: 24px;
}

.pooceed_button {
  background-color: #ff6a6a;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  border: none;
  padding: 15px 43px 16px 41px;
  margin-top: 17px;
  color: #FFFFFF;
}

.pooceed_button:hover {
  background-color: #f54c62;
}

/*кнопки под корзиной*/
.sub_cart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.sub_cart_sub {
  padding: 17px 40px;
  border: 1px solid #A4A4A4;
  background-color: #FFFFFF;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}

.sub_cart_sub:hover {
  background-color: #f8f5f57a;
}

/* registration*/
.registration {
  padding-top: 64px;
  padding-bottom: 76px;
}

.registration_input {
  border: 0 none;
  width: 360px;
}

.registration_legend {
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #222222;
}

.registration_input_all {
  width: 100%;
  margin-top: 20px;
  padding: 13px 10px 16px 17px;
}

.registration_radio {
  padding: 31px 0 31px 0;
  font-weight: 300;
  font-size: 11px;
  line-height: 13px;
  color: #000000;
}

.registration_radio_label {
  padding: 0 20px 0 10px;
}

.registration_margin {
  margin-right: 10px;
}

.registration_text {
  font-weight: 300;
  font-size: 13px;
  line-height: 16px;
  color: #B1B1B1;
  padding-top: 15px;
}

.registration_button {
  padding: 16px 0 17px 29px;
  background-color: #ff6a6a;
  border: none;
  color: #FFFFFF;
  margin-top: 75px;
  position: relative;
  left: -25px;
}

.registration_button:hover {
  background-color: #ff7e7e;
}

.registration_button_arrow {
  padding-right: 29px;
}

.registration_reg_join {
  padding-right: 20px;
}

.registration_reklam_block {
  padding: 64px 0 0 128px;
  color: #000000;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
}

.registration_title {
  padding-bottom: 22px;
}

.registration_right_text {
  padding-bottom: 21px;
}

.registration_ol {
  list-style: none;
}

.registration_ol > li {
  padding-bottom: 21px;
}

.registration_image {
  margin-right: 26px;
}

/*отзывы первая страница*/
.feedback {
  background-image: url(../img/subscribe.jpg);
  background-size: cover;
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: left bottom;
}

.feedback-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-line-pack: center;
      align-content: center;
}

.feedback-wrap-kart {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 360px;
  padding-top: 97px;
  padding-bottom: 126px;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.feedback-wrap-kart-sub {
  margin-right: 94px;
}

.feedback-wrap-text {
  font-size: 20px;
  line-height: 24px;
  text-align: center;
  color: #222224;
  padding-top: 30px;
}

.feedback-wrap-title {
  font-size: 24px;
  line-height: 167.2%;
  text-align: center;
  color: #222224;
}

.feedback-wrap-title-small {
  font-size: 18px;
  line-height: 167.2%;
}

.feedback-subscripe {
  width: 356px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.feedback-subscripe-field {
  padding: 20px;
  width: 255px;
  border-radius: 26px 0 0 26px;
  border: none;
  background-color: #E1E1E1;
  color: #222224;
  font-size: 14px;
  line-height: 17px;
}

.feedback-subscripe-field::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-subscripe-field:-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-subscripe-field::-ms-input-placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-subscripe-field::placeholder {
  font-size: 14px;
  line-height: 17px;
  color: #222224;
  opacity: 0.67;
}

.feedback-subscripe-field:hover {
  background-color: #E9E9E9;
}

.feedback-subscripe-button {
  padding: 20px;
  border-radius: 0 26px 26px 0;
  background-color: #ff6a6a;
  border: none;
  color: #FFFFFF;
  font-size: 14px;
  line-height: 17px;
}

.feedback-subscripe-button:hover {
  background-color: #c34455;
}

/*подвал*/
.footer {
  background-color: #222224;
}

.footer-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 24px 0;
}

.footer-wrap-text {
  font-size: 16px;
  line-height: 19px;
  color: #fbfbfb;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.footer-wrap-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer_icons {
  border: none;
  width: 31px;
  height: 32px;
  margin-left: 7px;
}

.footer_icons:hover {
  background-color: #ff6a6a;
}

.footer_icons svg {
  fill: black;
}

.footer_icons:hover svg {
  fill: #FFFFFF;
}

/*ярлыки хз*/
.form-label {
  display: block;
}

/*адаптив*/
@media (max-width: 768px) {
  .offer-wrap {
    height: 367px;
    background-position-x: -40px;
    background-position-y: +20px;
    background-size: contain;
  }
  .categories {
    padding: 20px 19px 154px;
  }
  .categories-item {
    width: 232px;
    height: 167px;
  }
  .categories-item--assesories {
    height: 116px;
    width: 100%;
    margin-top: 19px;
  }
}
/*# sourceMappingURL=style.css.map */