.block {
    width:90%; 
    height: 300px;
    border: 1px solid #000;
    background-color: azure;
    background-image: url(image/luka.jpg);
    background-size: cover;
    background-position:center;
}
body{
    font-family:sans-serif; 
}
.heading{
    text-align: center;
    color: aquamarine;
}
.text{
    color: aliceblue;
    font-family: serif;
}
.list{
    list-style-type: none;
}